
/* style for heading */
.title {
    height: 100 px;
    color: white;
    background-color: navy;
    padding: 20 px;
}
/* style for zip code search box */
.zipCode{
    background-color: antiquewhite;
    font-size: 20 px;
}
/* style for 5 day divs */
div#fiveDay div{
    width: 130 px;
    color: whitesmoke;
    padding: 5px;
    border-radius: 5 px;
}
/* cursor style */
.city{
    cursor: pointer;
}
