
/* style for heading */
.title {
    height: 100 px;
    color: white;
    background-color: gray;
    padding: 20 px;
}
/* style for zip code search box */
.zipCode{
    background-color: white;
    font-size: 20 px;
}
/* style for 5 day divs */
div#fiveDay div{
    width: 120 px;
    color: white;
    padding: 15px;
    border-radius: 5 px;
}
/* cursor style */
.city{
    cursor: pointer;
}
